.section-1 {
  height: 50vh;
  background-color: $white;
  display: flex;

  .discover-store {
    width: 50%;
    padding: 15px;

    .container {
      border: 1px dashed $color1;
      height: 100%;
      @include alignChildren(center);
      flex-direction: column;

      h2 {
        font-family: $font2;
        font-size: 1.2rem;
        color: $black;
        text-transform: uppercase;
        transform: translateY(-12px);
      }
      img {
        margin-top: 30px;
      }
      p {
        color: $black;
        padding: 25px;
      }

      .img-stephens-chef {
        height: 80px;
        width: 80px;
        border-radius: 50%;
        overflow: hidden;

        img {
          margin: 0;
          height: 100%;
        }
      }
      h4 {
        margin-top: 15px;
        color: $black;
        font-size: 1rem;
        font-family: $font2;
      }
      h5 {
        color: $grey;
        text-transform: uppercase;
        font-size: 0.8rem;
      }
    }
  }

  .s1-img {
    width: 50%;
    background: url(../img/store-01.jpg) center/cover;
  }
}
