.section-3 {
  height: 88vh;
  padding-top: 80px;

  .container {
    width: 70%;
    height: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: 30% 70%;

    .left {
      background: black;
      padding: 20px;

      .time {
        height: 100%;
        border: 1px dashed $white;
        padding: 15px 25px 20px;
      }
    }
    .right {
      background: white;
      @include alignChildren(center);
    }
  }
}
