@font-face {
  font-family: Allura;
  src: url(../fonts/Allura-Regular.ttf);
}

@font-face {
  font-family: Poppins;
  src: url(../fonts/Poppins-Medium.ttf);
}

@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto-Light.ttf);
}

$font1: Allura, cursive;
$font2: Poppins, serif;
$font3: Roboto, sans-serif;

$white: #eee;
$black: #21201e;
$grey: rgb(182, 182, 182);
$color1: rgb(166, 114, 69);

@mixin childCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin alignChildren($space) {
  display: flex;
  justify-content: $space;
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: $white;
}
body {
  text-align: center;
  font-family: $font3;
  background: $black;
}
li {
  list-style: none;
}
h3 {
  font-family: $font1;
  font-weight: 100;
  font-size: 2rem;
  color: $color1;
}
