@font-face {
  font-family: Allura;
  src: url(../fonts/Allura-Regular.ttf);
}
@font-face {
  font-family: Poppins;
  src: url(../fonts/Poppins-Medium.ttf);
}
@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto-Light.ttf);
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #eee;
}

body {
  text-align: center;
  font-family: Roboto, sans-serif;
  background: #21201e;
}

li {
  list-style: none;
}

header {
  background: url(../img/bg-slider-06.jpg) center/cover;
}
header nav {
  height: 12vh;
  display: grid;
  grid-template-columns: 12% 80% 8%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 50px;
}
header nav .logo {
  font-family: Allura, cursive;
  font-weight: 100;
  font-size: 2rem;
}
header nav .logo h3:hover {
  cursor: pointer;
  color: rgb(166, 114, 69);
}
header nav .nav-elements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  font-size: 0.7rem;
}
header nav .nav-elements li {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  position: relative;
}
header nav .nav-elements li:hover {
  cursor: pointer;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  color: rgb(166, 114, 69);
  font-weight: 900;
}
header nav .nav-elements li:hover::after {
  content: "";
  position: absolute;
  height: 5px;
  width: 100%;
  top: 15px;
  left: 0;
  background: rgb(166, 114, 69);
}
header nav .nav-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.8rem;
}
header nav .nav-icons i {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  position: relative;
}
header nav .nav-icons i:hover {
  cursor: pointer;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  color: rgb(166, 114, 69);
  font-weight: 900;
}
header .header-text {
  height: 88vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .header-text div {
  -webkit-transform: translateY(-70px);
          transform: translateY(-70px);
}
header .header-text div h2 {
  font-family: Allura, cursive;
  font-size: 3rem;
  font-weight: 100;
  color: rgb(166, 114, 69);
  margin: -40px;
}
header .header-text div h1 {
  font-family: Poppins, serif;
  text-transform: uppercase;
  letter-spacing: 10px;
  font-size: 4rem;
  font-weight: 600;
}
header .header-text div img {
  height: 30px;
  margin: 50px 0;
}
header .header-text div p {
  text-transform: uppercase;
  letter-spacing: 8px;
  font-size: 0.8rem;
}

.section-1 {
  height: 50vh;
  background-color: #eee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.section-1 .discover-store {
  width: 50%;
  padding: 15px;
}
.section-1 .discover-store .container {
  border: 1px dashed rgb(166, 114, 69);
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.section-1 .discover-store .container h3 {
  font-family: Allura, cursive;
  font-weight: 100;
  font-size: 2rem;
  color: rgb(166, 114, 69);
}
.section-1 .discover-store .container h2 {
  font-family: Poppins, serif;
  font-size: 1.2rem;
  color: #21201e;
  text-transform: uppercase;
  -webkit-transform: translateY(-12px);
          transform: translateY(-12px);
}
.section-1 .discover-store .container img {
  margin-top: 30px;
}
.section-1 .discover-store .container p {
  color: #21201e;
  padding: 25px;
}
.section-1 .discover-store .container .img-stephens-chef {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  overflow: hidden;
}
.section-1 .discover-store .container .img-stephens-chef img {
  margin: 0;
  height: 100%;
}
.section-1 .discover-store .container h4 {
  margin-top: 15px;
  color: #21201e;
  font-size: 1rem;
  font-family: Poppins, serif;
}
.section-1 .discover-store .container h5 {
  color: rgb(182, 182, 182);
  text-transform: uppercase;
  font-size: 0.8rem;
}
.section-1 .s1-img {
  width: 50%;
  background: url(../img/store-01.jpg) center/cover;
}/*# sourceMappingURL=index.css.map */